ALLOWED_ORIGINS=https://theodoroskaragiannis.com,https://theodoroskaragiannis.gr
RECAPTCHA_ALLOWED_HOSTNAMES=theodoroskaragiannis.com,theodoroskaragiannis.gr
RECAPTCHA_SECRET_KEY=
RECAPTCHA_REQUIRED=false
ZOHO_SMTP_HOST=
ZOHO_SMTP_PORT=465
ZOHO_SMTP_SECURE=true
ZOHO_SMTP_USER=
ZOHO_SMTP_PASSWORD=
MAIL_FROM=
MAIL_TO=
